/*   ESTILO PARA LA CABECERA*/

body{
	margin:0px;
	padding:0px;
}
.container{
	padding:0px;
	margin:0px;
	width:auto;
	background-color:#224349;
	/*
	background:#525050;*/
}
figure{
	margin:0px;
	padding:0px;
	display:inline-block;
	width:100%;
	height:100%;
}
figure img{
	width:100%;
}
.home{
	position:absolute;
	cursor:pointer;
	width:42px;
	height:42px;
	border-radius:8px;
	opacity:.7;
}
/*   ESTILO PARA EL MENU*/
menu{
	margin:0px;
	padding:0.3%;
	width:auto;
	background-color:#525050;
}
.just{
	width:100%;
	margin: 0px auto;
}
.menu div{
	background-color:#86193A;
	/*background-color:#EE4470;*/
	border:#0E0E0E 2px solid;
	float:left;
	width:32.9%;
	height:50px;  
	text-align:center;
	border-radius:10%;
	cursor: pointer;
}
.menu div:hover{
	background-color:black;
	border:#C0C1C1 2px solid;
	color:#ffffff;
	float:left;
	width:32.9%;
	height:50px;
	border-radius:10%;
	transform:scale(1.05);
	transition:1.3s;
}
/*    ESTILO PARA EL CUERPO DEL DOCUMENTO */
.body{
	margin:2px;
	width:75%;
	float:left;
}
.body h1{
	display:inline-block;
	margin:0px;
	padding:0px;
	color:#ffffff;
	text-align:center;
	font-size:50px;
	width:100%;
	margin:0px auto;
}
.body p{
	margin:5px;
	padding:10%;
	/*border:#EE4470 3px solid;*/
	border:#690426 3px solid;
	border-radius:2%;
	background-color:#C0C1C1;
	font-size:12px;
	margin-bottom:5px;
}
.body img{
	padding:2px;
	border:#6C6E6E 2px solid;
	border-radius:10%;
	width:100%;
	height:50%;
	margin:0px 3%;
}
.body .little{
	padding:2px;
	border:#6C6E6E 2px solid;
	border-radius:10%;
	width:45%;
	height:25%;
	margin:1%;
	text-align:center;
}

.references{
	width:30%;
	float:left;
	border-bottom:#ffffff 1px solid;
	text-align: center;
	font-size:25px;
	padding-bottom:10px;
	margin-bottom:20px;
}
.references ul{
	list-style: none;
	background:#690426 ;
	border: #0E0E0E 2px solid;
	border-radius:4%;
	margin:6px;
	padding:inherit;
}
.references li{
	margin: 10px 0px;
}
.references h2{
	color:#ffffff;
	text-align:center;
	margin:0px auto;
}
.references img{
	width:80%;
	height: 20px;
}
video{
	width:95%;
	border: #000 2px solid;
	border-radius: 5%;
	margin: 5px 0px;
}

/*    ESTILO PARA EL PIE*/
.footer{
	clear:both;
	color:#ffffff;
	padding:4%;
	font-size:13px;
	border-top: #690426 2px solid;
	width: auto;
	background:#07111db6;
}
.footer img{
	padding:0%;
	margin-top:-8%;
	width:7%;
	height:7%;
	float:right;
	margin-left:90%;
	border:none;
}