/*   ESTILO PARA LA CABECERA*/

body{
	background-color:#525050;
}
figure{
	margin:0px;
	padding:0px;
	display:inline-block;
	width:100%;
	height:400px;
	background-image:url(bk4.jpg);
}
figure input{
	margin-left:25%;
	margin-top:37%;
	width:50%;
	height:50px;
	text-align:center;
	border-radius:5%;
	font-size:200%;
	border:#1D1C1C 2px solid;
	background-color:#33454D;
	color:#ffffff;
}
figure input:hover{
	border:#25C7F2 2px solid;
	transform:scale(1.05);
	transition:1s;
	background-color:#A5C4C5;
	color:black;
}

/*   ESTILO PARA EL MENU*/
menu{
	margin:0px;
	padding:0px;
	display:inline-block;
	width:100%;
	margin-right:auto;
	background-color:#525050;
}
.menu div{
	background-color:#EE4470;
	border:#0E0E0E 2px solid;
	float:left;
	width:32.9%;
	height:50px;
	text-align:center;
	padding-top:3px;
	border-radius:10%;
}
.menu div:hover{
	background-color:black;
	border:#C0C1C1 2px solid;
	color:#ffffff;
	float:left;
	width:32.9%;
	height:50px;
	text-align:center;
	padding-top:3px;
	border-radius:10%;
	transform:scale(1.05);
	transition:1.3s;
}
/*    ESTILO PARA EL CUERPO DEL DOCUMENTO */

.body h1{
	display:inline-block;
	margin:0px;
	padding:0px;
	color:#ffffff;
	text-align:center;
	font-size:300%;
	width:100%;
	margin:0px auto;
}
.body p{
	margin-left:10%;
	margin-right:10%;
	padding:10%;
	border:#EE4470 4px solid;
	border-radius:2%;
	background-color:#C0C1C1;
	font-size:79.89%;
}
img{
	padding:2px;
	border:#6C6E6E 2px solid;
	border-radius:10%;
	width:100%;
	margin-top:3%;
	margin-bottom:3%;
}
/*    ESTILO PARA EL PIE*/
.footer{
	color:#ffffff;
	padding:4%;
	font-size:60%;
	border:#EE4470 2px solid;
	border-radius:8%;
	background-image:url(ft.jpg);
}
.footer img{
	display:inline-block;
	margin-top:-13%;
	width:10%;
	float:right;
	margin-left:90%;
	border:none;
}