
.body h1{
	font-size: 35px;
}
.references h2{
	font-size: 25px;
}
.references h4, .references li{
	font-size: 15px;
}
/*   ESTILO PARA EL MENU*/
menu{
	margin:0 auto;
	text-align: center;
	align-content: center;
	padding:0px;
	display:inline-block;
	width:100%;
	background-color:#525050;
	
}
.menu div{
	border:#0E0E0E 2px solid;
	float:left;
	width:32.5%;
	height:25%;
	text-align:center;
	border-radius:10%;
}
.menu div:hover{
	background-color:black;
	border:#C0C1C1 2px solid;
	color:#ffffff;
	float:left;
	height:20%;
	border-radius:10%;
	transform:scale(1.01);
	transition:1.3s;
}