.home{
	width:25px;
	height:25px;
	border-radius:3px;
	opacity:.7;
}
header{
	width: 100%;
	height: 120px;
}
figure img{
	margin:0px;
	padding:0px;
}
.header img{
	width:100%;
	height:120px;
}
menu{
	height: 72px;
}
.menu div{
	margin:0px;
	font-size:8px;
	width:32%;
	height: 20px;
	border:#0E0E0E 2px solid;
}
.body p{
	font-size:8px;
	padding:20px;
	border:#690426 1.8px solid;
}
.body h1{
	font-size:17px;
	margin: 0px 3%;
}
.body .little{
	width:42%;
	border:#6C6E6E 1px solid;
}
.body img{
	border:#6C6E6E 1px solid;
}
.references{
	color:#fff;
}
.references h4{
	font-size:10px;
}
.references h6{
	font-size:12px;
}
.references ul{
	border: #000 1px solid;
}
.references li{
	font-size:12px;
	margin:0px;
}
video{
	width:80%;
}
.references img{
	margin:0px 4px;
	width:60%;
}
.footer{
	clear:both;
	color:#ffffff;
	font-size:6px;
	border-top: #690426 2px solid;
	width: auto;
	height: 55px;
}
.footer img{
	display: inline-block;
	width:30px;
	height:40px;
	margin-left: 85%;
	position: relative;
	top: -22%;
}
.footer cite{
	display: inline-block;
	width: fit-content;
	position: relative;
	top: 33%;
	left: 5%;
}